body {
    background: #416b4486;
}
.wrapper {
    width:400px;
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    background-color: rgb(145, 85, 130);
    padding:20px;
}

